:root {
    --main-bg-color: #222831;
    --main-text-color: #EEEEEE;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 50px 30px;
    flex: 1;
}

footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom {
    margin-top: auto;
    margin-bottom: auto;
}

.fa-github {
    color: var(--main-text-color);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}


/* for hpp */
main {
    align-self: center;
}

body {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

.submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}